body {
    height: 100vh;
    width: 100vw;
    padding: 0%;
    margin: 0%;
    font-family: 'Fredoka One', cursive;
    background-image: linear-gradient(rgb(255, 84, 79), rgb(250, 209, 38));
    background-size: contain;
    background-repeat: no-repeat;
}

.MainGameWindow {
    width: 100vw;
    height: 100vh;
}

#gamescreen {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    scrollbar-width: 0px;
}

.loginwrapper {
    display: flex;
    justify-content: center;
}

#bgcity {
    position: fixed;
    width: 800px;
    z-index: -1;
}

#ptsede {
    position: fixed;
    top: 54px;
    left: 65px;
}

#ptsede:hover {
    position: fixed;
    top: 54px;
    left: 65px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#businesscenter {
    position: fixed;
    top: 146px;
    left: 45px;
}

#businesscenter:hover {
    position: fixed;
    top: 146px;
    left: 45px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#apartment {
    position: fixed;
    top: 86px;
    left: 238px;
}

#apartment:hover {
    position: fixed;
    top: 86px;
    left: 238px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#hospital {
    position: fixed;
    top: 207px;
    left: 187px;
}

#hospital:hover {
    position: fixed;
    top: 207px;
    left: 187px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#university {
    position: fixed;
    top: 320px;
    left: 65px;
}

#university:hover {
    position: fixed;
    top: 320px;
    left: 65px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#mayorhall {
    position: fixed;
    top: 179px;
    left: 360px;
}

#mayorhall:hover {
    position: fixed;
    top: 179px;
    left: 360px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#kindamall {
    position: fixed;
    top: 24px;
    left: 361px;
}

#hotel {
    position: fixed;
    top: 86px;
    left: 527px;
}

#hotel:hover {
    position: fixed;
    top: 86px;
    left: 527px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#convenience {
    position: fixed;
    top: 74px;
    left: 572px;
}

#bank {
    position: fixed;
    top: 179px;
    left: 632px;
}

#bank:hover {
    position: fixed;
    top: 179px;
    left: 632px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#shoppingmall {
    position: fixed;
    top: 250px;
    left: 509px;
}

#shoppingmall:hover {
    position: fixed;
    top: 250px;
    left: 509px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#sports {
    position: fixed;
    top: 330px;
    left: 357px;
}

#sports:hover {
    position: fixed;
    top: 330px;
    left: 357px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#convenience2 {
    position: fixed;
    top: 333px;
    left: 438px;
}

#supermarket {
    position: fixed;
    top: 390px;
    left: 200px;
}

#camara {
    position: fixed;
    top: 400px;
    left: 250px;
}

#camara:hover {
    position: fixed;
    top: 400px;
    left: 250px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#overlay {
    width: 800px;
    background-size: auto;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

#topbar {
    pointer-events: none;
    width: 700px;
    height: auto;
    position: fixed;
    left: 20px;
    top: 2.2px;
    z-index: 2;
}

#topbutton {
    width: 55px;
    height: 40px;
    position: fixed;
    left: 730px;
    top: 8px;
    background-image: url(../../../public/img/topbutton.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0%;
    padding: 0%;
}

.bubblewrapper {
    width: 800px;
    height: 800px;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
}

#speechbubble {
    width: 620px;
    height: auto;
    position: fixed;
    left: 170px;
    top: 403px;
    cursor: pointer;
}

#bubblePortrait {
    width: 110px;
    height: auto;
    position: fixed;
    left: 656px;
    top: 418px;
    cursor: pointer;
}

.speechbubbletext {
    width: 410px;
    height: 190px;
    position: fixed;
    left: 190px;
    top: 410px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.overlaypages {
    border-radius: 25px;
    width: 650px;
    height: 490px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: fixed;
    top: 56px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.overlayshare {
    border-radius: 25px;
    width: 350px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: fixed;
    top: 175px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlaylevelup {
    border-radius: 25px;
    width: 380px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: fixed;
    top: 160px;
    left: 210px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.overlayfullscreen {
    border-radius: 25px;
    width: 800px;
    height: 600px;
    top: 0px;
    background-color: rgba(0, 0, 0);
    background-size: cover;
    position: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

.overlayfullscreenupright {
    border-radius: 25px;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background-color: rgba(0, 0, 0);
    background-size: cover;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

.h3upright {
    padding-left: 1vw;
    padding-top: 15vh;
    font-size: 11px;
}

.h4upright {
    font-size: 11px;
}

.fullscreencell {
    width: 100vw;
    height: 950px;
    top: 0px;
    background-color: rgba(0, 0, 0);
    background-size: cover;
    position: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

#cellphone {
    height: 30vh;
    top: 30vh;
    position: fixed;
}

.virar {
    height: 30vh;
    top: 30vh;
    position: fixed;
}

.btnfullscreen {
    border: none;
    color: rgba(255, 255, 255, .7);
    background: none;
    cursor: pointer;
    text-shadow: none;
    position: fixed;
    top: 550px;
    width: 250px;
}

.topbarexplanation {
    border-radius: 25px;
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: fixed;
    cursor: pointer;
    top: 0px;
}

.selector1 {
    border-radius: 25px;
    width: 170px;
    height: 30px;
    top: 11px;
    left: 24px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: fixed;
    z-index: 3;
}

.selector2 {
    border-radius: 25px;
    width: 110px;
    height: 30px;
    top: 11px;
    left: 208px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: fixed;
    z-index: 3;
}

.selector3 {
    border-radius: 25px;
    width: 80px;
    height: 30px;
    top: 11px;
    left: 340px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: fixed;
    z-index: 3;
}

.selector4 {
    border-radius: 25px;
    width: 130px;
    height: 30px;
    top: 11px;
    left: 430px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: fixed;
    z-index: 3;
}

.selector5 {
    border-radius: 25px;
    width: 110px;
    height: 30px;
    top: 11px;
    left: 570px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: fixed;
    z-index: 3;
}

.continuar {
    width: 300px;
    height: 30px;
    top: 250px;
    left: 250px;
    position: fixed;
    cursor: pointer;
}

.desc1 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: 20px;
    font-size: 15px;
}

.desc2 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: -8px;
    font-size: 15px;
    color: white;
}

.desc3 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: -12px;
    font-size: 15px;
}

.desc4 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: 10px;
    font-size: 15px;
    color: white;
}

.desc5 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: 8px;
    font-size: 15px;
}

.alignright {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.atributeslist {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.points {
    position: fixed;
    left: 330px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campaignResults {
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.campaignResultsAtributes {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rating {
    position: fixed;
    left: 316px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.rating2 {
    position: fixed;
    left: 508px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grade {
    position: fixed;
    height: 50px;
    font-size: 70px;
    top: 80px;
    color: white;
}

.topMenu {
    border-radius: 25px;
    width: 400px;
    height: 400px;
    background: none;
    position: fixed;
    top: -190px;
    left: 572px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.topMenuButtons {
    width: 210;
    height: 38px;
    padding: 0;
    background-image: url(../../../public/img/greenbutton.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.ranking {
    border-radius: 25px;
    width: 650px;
    height: 490px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: fixed;
    top: 56px;
    left: 70px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}

.rankingscroll {
    height: 290px;
    overflow-y: auto;
    scrollbar-color: rgb(255, 153, 36) #ff4800;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.rankingSections {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.centerRank {
    position: fixed;
    left: 300px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.centerRank2 {
    position: fixed;
    left: 455px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.buttonVoltar {
    position: fixed;
    top: 440px;
}

.extrasOverlay {
    width: 800px;
    height: 600px;
}

#billboard {
    position: fixed;
    top: 391px;
    left: 64px;
}

@media screen and (max-width: 950px) and (min-width: 500px) {
    #bgcity {
        width: 100vw;
        height: 100vh;
        padding: 0%;
        margin: 0%;
    }
    .bubblewrapper {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0vh;
        left: 0vw;
        z-index: 1;
    }
    #speechbubble {
        position: fixed;
        height: 48vh;
        width: 73vw;
        top: 48vh;
        left: 25vw;
    }
    #bubblePortrait {
        position: fixed;
        height: 40vh;
        width: 15vw;
        top: 54vh;
        left: 81vw;
    }
    .speechbubbletext {
        position: fixed;
        height: 40vh;
        width: 51vw;
        top: 51vh;
        left: 26.5vw;
    }
    .selector1 {
        position: fixed;
        height: 8vh;
        width: 23vw;
        top: 3vh;
        left: 3vw;
    }
    .selector2 {
        position: fixed;
        width: 11vw;
        height: 8vh;
        left: 26vw;
        top: 3vh;
    }
    .selector3 {
        position: fixed;
        height: 8vh;
        width: 9vw;
        top: 3vh;
        left: 43vw;
    }
    .selector4 {
        position: fixed;
        height: 8vh;
        width: 14vw;
        top: 3vh;
        left: 54vw;
    }
    .selector5 {
        position: fixed;
        height: 8vh;
        width: 16vw;
        top: 3vh;
        left: 71vw;
    }
    .topbarexplanation {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0vh;
        z-index: 2;
    }
    .continuar {
        height: 10vh;
        width: 45vw;
        cursor: pointer;
        position: fixed;
        top: 50vh;
        left: 33vw;
    }
    .ranking {
        height: 320px;
        position: fixed;
    }
    .rankingscroll {
        height: 140px;
    }
    .buttonVoltar {
        position: fixed;
        top: 330px;
    }
    .overlayshare {
        position: fixed;
        width: 50vw;
        height: 70vh;
        top: 15vh;
    }
    .overlaypages {
        border-radius: 25px;
        width: 70vw;
        height: 95vh;
        top: 2vh;
        left: 15vw;
        background-color: rgba(0, 0, 0, 0.85);
        background-size: cover;
        position: fixed;
        color: white;
        z-index: 1;
    }
    .overlaylevelup {
        height: 77vh;
        width: 56vw;
        left: 22vw;
        top: 10vh;
        position: fixed;
    }
    .topMenu {
        position: fixed;
        left: 72vw;
    }
    #topbar {
        width: 88vw;
    }
    #topbutton {
        width: 8vw;
        height: 10.8vh;
        left: 91vw;
    }
    .overlayfullscreen {
        width: 100vw;
        height: 100vh;
        z-index: 4;
    }
    .btnfullscreen {
        top: 89vh;
        width: 35vw;
        left: 0vw;
    }
    #overlay {
        width: 100vw;
        height: 100vh;
    }
    #ptsede {
        height: 26vh;
        width: 22vw;
        top: 9vh;
        left: -3vw;
    }
    #ptsede:hover {
        height: 26vh;
        width: 22vw;
        top: 9vh;
        left: -3vw;
    }
    #businesscenter {
        height: 26vh;
        width: 20vw;
        top: 29vh;
        left: 12vw;
    }
    #businesscenter:hover {
        height: 26vh;
        width: 20vw;
        top: 29vh;
        left: 12vw;
    }
    #apartment {
        height: 24vh;
        width: 13vw;
        top: 12vh;
        left: 31vw;
    }
    #apartment:hover {
        height: 24vh;
        width: 13vw;
        top: 12vh;
        left: 31vw;
    }
    #hospital {
        height: 34vh;
        width: 22vw;
        top: 33vh;
        left: 23vw;
    }
    #hospital:hover {
        height: 34vh;
        width: 22vw;
        top: 33vh;
        left: 23vw;
    }
    #university {
        height: 26vh;
        width: 22vw;
        top: 61vh;
        left: 9vw;
    }
    #university:hover {
        height: 26vh;
        width: 22vw;
        top: 61vh;
        left: 9vw;
    }
    #mayorhall {
        height: 25vh;
        width: 19vw;
        top: 27vh;
        left: 45vw;
    }
    #mayorhall:hover {
        height: 25vh;
        width: 19vw;
        top: 27vh;
        left: 45vw;
    }
    #kindamall {
        height: 24vh;
        width: 20vw;
        top: 1vh;
        left: 50vw;
    }
    #hotel {
        height: 30vh;
        width: 19vw;
        top: 7vh;
        left: 64vw;
    }
    #hotel:hover {
        height: 30vh;
        width: 19vw;
        top: 7vh;
        left: 64vw;
    }
    #convenience {
        height: 24vh;
        width: 20vw;
        top: 2vh;
        left: 72vw;
    }
    #bank {
        height: 24vh;
        width: 18vw;
        top: 28vh;
        left: 79vw;
    }
    #bank:hover {
        height: 24vh;
        width: 18vw;
        top: 28vh;
        left: 79vw;
    }
    #shoppingmall {
        height: 24vh;
        width: 20vw;
        top: 45vh;
        left: 64vw;
    }
    #shoppingmall:hover {
        height: 24vh;
        width: 20vw;
        top: 45vh;
        left: 64vw;
    }
    #sports {
        height: 17vh;
        width: 11vw;
        top: 62vh;
        left: 44.5vw;
    }
    #sports:hover {
        height: 17vh;
        width: 11vw;
        top: 62vh;
        left: 44.5vw;
    }
    #convenience2 {
        height: 20vh;
        width: 15vw;
        top: 62vh;
        left: 53vw;
    }
    #supermarket {
        height: 24vh;
        width: 20vw;
        top: 75vh;
        left: 25vw;
    }
    #camara {
        height: 25vh;
        width: 17vw;
        top: 78vh;
        left: 32vw;
    }
    #camara:hover {
        height: 25vh;
        width: 17vw;
        top: 78vh;
        left: 32vw;
    }
    #billboard {
        position: fixed;
        width: 8.3vw;
        height: 22vh;
        top: 75.6vh;
        left: 7.9vw;
    }
    .grade {
        font-size: 15vh;
        width: 9vw;
        height: 9vh;
        top: 12vh;
        left: 46vw;
    }
    .gradeTitle {
        position: fixed;
        top: 30px;
    }
    .campaignResults {
        height: 80vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
    }
    .campaignResultsAtributes {
        width: 60vw;
        height: 5vh;
    }
    .rating {
        position: fixed;
        left: 39vw;
        width: 20vw;
        height: 5vh;
    }
    .rating2 {
        left: 66vw;
        width: 15vw;
        height: 5vh;
    }
    .points {
        left: 44vw;
        width: 5vw;
    }
}

@media screen and (max-width: 499px) {
    body {
        height: 100vh;
        width: 100vw;
    }
    .loginwrapper {
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
}