body {
    height: 100vh;
    padding: 0%;
    margin: 0%;
    font-family: 'Fredoka One', cursive;
    background-image: linear-gradient(rgb(255, 84, 79), rgb(250, 209, 38));
    background-size: contain;
    background-repeat: no-repeat;
}

#gamescreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: scroll;
    scrollbar-width: 0px;
}

#bgcity {
    position: absolute;
    z-index: -999;
}

#ptsede {
    position: absolute;
    top: 54px;
    left: 65px;
}

#ptsede:hover {
    position: absolute;
    top: 54px;
    left: 65px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#businesscenter {
    position: absolute;
    top: 146px;
    left: 45px;
}

#businesscenter:hover {
    position: absolute;
    top: 146px;
    left: 45px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#apartment {
    position: absolute;
    top: 86px;
    left: 238px;
}

#apartment:hover {
    position: absolute;
    top: 86px;
    left: 238px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#hospital {
    position: absolute;
    top: 207px;
    left: 187px;
}

#hospital:hover {
    position: absolute;
    top: 207px;
    left: 187px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#university {
    position: absolute;
    top: 320px;
    left: 65px;
}

#university:hover {
    position: absolute;
    top: 320px;
    left: 65px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#mayorhall {
    position: absolute;
    top: 179px;
    left: 360px;
}

#mayorhall:hover {
    position: absolute;
    top: 179px;
    left: 360px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#kindamall {
    position: absolute;
    top: 24px;
    left: 361px;
}

#hotel {
    position: absolute;
    top: 86px;
    left: 527px;
}

#hotel:hover {
    position: absolute;
    top: 86px;
    left: 527px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#convenience {
    position: absolute;
    top: 74px;
    left: 572px;
}

#bank {
    position: absolute;
    top: 179px;
    left: 632px;
}

#bank:hover {
    position: absolute;
    top: 179px;
    left: 632px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#shoppingmall {
    position: absolute;
    top: 250px;
    left: 509px;
}

#shoppingmall:hover {
    position: absolute;
    top: 250px;
    left: 509px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#sports {
    position: absolute;
    top: 330px;
    left: 357px;
}

#sports:hover {
    position: absolute;
    top: 330px;
    left: 357px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#convenience2 {
    position: absolute;
    top: 333px;
    left: 438px;
}

#supermarket {
    position: absolute;
    top: 390px;
    left: 200px;
}

#camara {
    position: absolute;
    top: 400px;
    left: 250px;
}

#camara:hover {
    position: absolute;
    top: 400px;
    left: 250px;
    filter: drop-shadow(0 0 1rem rgb(255, 153, 36)) brightness(110%);
}

#overlay {
    width: 800px;
    height: 600px;
    background-image: url(../../../public/img/overlay.png);
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

#topbar {
    pointer-events: none;
    width: 700px;
    height: auto;
    position: fixed;
    left: 20px;
    top: 2.2px;
}

#topbutton {
    width: 55px;
    height: 40px;
    position: fixed;
    left: 730px;
    top: 8px;
    background-image: url(../../../public/img/topbutton.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0%;
    padding: 0%;
}

.bubblewrapper {
    z-index: 9999;
}

#speechbubble {
    width: 620px;
    height: auto;
    position: absolute;
    left: 170px;
    top: 403px;
    cursor: pointer;
}

#bubblePortrait {
    width: 110px;
    height: auto;
    position: absolute;
    left: 656px;
    top: 418px;
    cursor: pointer;
}

.speechbubbletext {
    width: 410px;
    height: 190px;
    position: absolute;
    left: 190px;
    top: 410px;
    color: white;
    cursor: pointer;
}

.overlaypages {
    border-radius: 25px;
    width: 650px;
    height: 490px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: absolute;
    top: 56px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.overlayshare {
    border-radius: 25px;
    width: 350px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: absolute;
    top: 175px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlaylevelup {
    border-radius: 25px;
    width: 380px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: absolute;
    top: 160px;
    left: 210px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.topbarexplanation {
    border-radius: 25px;
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: absolute;
    cursor: pointer;
}

.selector1 {
    border-radius: 25px;
    width: 170px;
    height: 30px;
    top: 11px;
    left: 24px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: absolute;
}

.selector2 {
    border-radius: 25px;
    width: 110px;
    height: 30px;
    top: 11px;
    left: 208px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: absolute;
}

.selector3 {
    border-radius: 25px;
    width: 80px;
    height: 30px;
    top: 11px;
    left: 340px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: absolute;
}

.selector4 {
    border-radius: 25px;
    width: 130px;
    height: 30px;
    top: 11px;
    left: 430px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: absolute;
}

.selector5 {
    border-radius: 25px;
    width: 110px;
    height: 30px;
    top: 11px;
    left: 570px;
    background-color: rgba(255, 153, 36, 0.6);
    background-size: cover;
    position: absolute;
}

.continuar {
    width: 300px;
    height: 30px;
    top: 250px;
    left: 250px;
    position: absolute;
    cursor: pointer;
}

.desc1 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: 20px;
    font-size: 15px;
}

.desc2 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: -8px;
    font-size: 15px;
    color: white;
}

.desc3 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: -12px;
    font-size: 15px;
}

.desc4 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: 10px;
    font-size: 15px;
    color: white;
}

.desc5 {
    position: absolute;
    width: 180px;
    top: 35px;
    left: 8px;
    font-size: 15px;
}

.alignright {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}

.atributeslist {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.points {
    position: absolute;
    left: 260px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campaignResults {
    height: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campaignResultsAtributes {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rating {
    position: absolute;
    left: 242px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.rating2 {
    position: absolute;
    left: 437px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grade {
    position: absolute;
    height: 50px;
    font-size: 70px;
    top: 20px;
    color: white;
}

.gradeTitle {
    position: absolute;
    top: 30px;
}

.topMenu {
    border-radius: 25px;
    width: 400px;
    height: 400px;
    background: none;
    position: absolute;
    top: -190px;
    left: 572px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.topMenuButtons {
    width: 210;
    height: 38px;
    padding: 0;
    background-image: url(../../../public/img/greenbutton.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.ranking {
    border-radius: 25px;
    width: 650px;
    height: 490px;
    background-color: rgba(0, 0, 0, 0.85);
    background-size: cover;
    position: absolute;
    top: 56px;
    left: 70px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
}

.rankingscroll {
    height: 290px;
    overflow-y: auto;
    scrollbar-color: rgb(255, 153, 36) #ff4800;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.rankingSections {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.centerRank {
    position: absolute;
    left: 300px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.centerRank2 {
    position: absolute;
    left: 455px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.buttonVoltar {
    position: absolute;
    top: 440px;
}

.extrasOverlay {
    width: 800px;
    height: 600px;
}

#billboard {
    position: absolute;
    top: 391px;
    left: 64px;
}

@media screen and (max-width: 950px) {
    #speechbubble {
        position: fixed;
        top: 200px;
    }
    #bubblePortrait {
        position: fixed;
        top: 215px;
    }
    .speechbubbletext {
        position: fixed;
        top: 207px;
    }
    .selector1,
    .selector2,
    .selector3,
    .selector4,
    .selector5 {
        position: fixed;
    }
    .topbarexplanation {
        position: fixed;
    }
    .ranking {
        height: 320px;
        position: fixed;
    }
    .rankingscroll {
        height: 140px;
    }
    .buttonVoltar {
        position: fixed;
        top: 330px;
    }
    .overlayshare {
        position: fixed;
        top: 90px;
    }
    .overlaypages {
        border-radius: 25px;
        width: 650px;
        height: 370px;
        background-color: rgba(0, 0, 0, 0.85);
        background-size: cover;
        position: absolute;
        top: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .grade {
        top: 10px;
        left: 480px;
    }
    .overlaylevelup {
        top: 70px;
        position: fixed;
    }
}