.InsideP {
    width: 800px;
    height: 600px;
    background-image: url(../../../public/img/placesbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    padding: 0%;
    margin: 0%;
    color: black;
    opacity: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    width: 600px;
    height: 550px;
    padding: 0%;
    margin: 0%;
    color: black;
    opacity: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.grouped {
    padding: 0%;
    margin: 0%;
    color: black;
    opacity: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.headergrouped {
    padding: 0%;
    margin: 0%;
    color: black;
    opacity: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: inline;
}

h1 {
    color: rgb(255, 166, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
}

h2 {
    color: rgb(255, 166, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
}

h3 {
    color: rgb(255, 166, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 1px;
    margin-top: 3px;
    display: inline;
}

h4 {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
    display: inline;
    margin: 0px;
}

h5 {
    color: rgb(255, 166, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
    margin-top: 0px;
    margin-bottom: 0px;
}

h6 {
    color: rgb(255, 166, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
    display: inline;
    font-size: large;
    margin-top: 0px;
    margin-bottom: 0px;
}

.countdown {
    color: rgb(255, 166, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p2 {
    color: rgb(255, 166, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Campanha {
    width: 640px;
    height: auto;
    padding-left: 1px;
    margin: 0px;
    color: black;
    opacity: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.box {
    width: 500px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.guests {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 166, 0);
    border-radius: 25px;
    margin-right: 10px;
}

.groupedHotel {
    padding: 0%;
    margin: 0%;
    color: black;
    opacity: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 260px;
}

@media screen and (max-width: 950px) {
    .InsideP {
        width: 100vw;
        height: 100vh;
        background-image: url(../../../public/img/placesbg_mobile.png);
    }
    .wrapper {
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0%;
        margin: 0%;
    }
    button {
        padding: 0%;
        margin: 0%;
    }
    .box {
        height: 73px;
        width: 600px;
    }
    .guests {
        height: 82px;
        width: 82px;
    }
}