/* .moneybar {
    color: white;
    position: absolute;
    top: -3px;
    left: 300px;
    font-size: small;
}

.countdownbar {
    color: white;
    position: absolute;
    top: -3px;
    left: 45px;
    font-size: small;
}

.followersbar {
    color: white;
    position: absolute;
    top: -3px;
    left: 175px;
    font-size: small;
}

.respectbar {
    color: white;
    position: absolute;
    top: -3px;
    left: 372px;
    font-size: small;
}

.rankbar {
    color: white;
    position: absolute;
    top: -3px;
    left: 605px;
    font-size: small;
} */