.moneybar {
    color: white;
    position: absolute;
    top: -4px;
    left: 466px;
    font-size: large;
}

.countdownbar {
    color: white;
    position: absolute;
    top: -4px;
    left: 52px;
    font-size: large;
}