.moneybar {
    color: white;
    position: fixed;
    top: -3px;
    left: 475px;
    font-size: large;
    z-index: 3;
}

.countdownbar {
    color: white;
    position: fixed;
    top: -3px;
    left: 52px;
    font-size: large;
    z-index: 3;
}

.followersbar {
    color: white;
    position: fixed;
    top: -3px;
    left: 242px;
    font-size: large;
    z-index: 3;
}

.respectbar {
    color: white;
    position: fixed;
    top: -3px;
    left: 372px;
    font-size: large;
    z-index: 3;
}

.rankbar {
    color: white;
    position: fixed;
    top: -3px;
    left: 605px;
    font-size: large;
    z-index: 3;
}

@media screen and (max-width: 950px) and (min-width: 500px) {
    .moneybar {
        left: 58vw;
        font-size: 5vh;
    }
    .countdownbar {
        left: 7vw;
        font-size: 5vh;
    }
    .followersbar {
        left: 31vw;
        font-size: 5vh;
    }
    .respectbar {
        left: 47vw;
        font-size: 5vh;
    }
    .rankbar {
        left: 76vw;
        font-size: 5vh;
    }
}